table {
	padding: 10px;
	
	
}
#wrapper {
	margin: 0 auto;
	width: 800px;
	border: 5px solid rgb(0, 74, 0);
	background: lightgrey;
}
h1 {
	color: whitesmoke;
	background: rgb(0, 74, 0);
	text-align: center;
	padding: 0;
}
h3{
	padding: 1.66%;
	color: tomato;
	font-family: verdana;
}

.canvass {
	max-width: 600px;
}

.info {
	width: 35%;
	float: right;
}